@model WiredBrain.CustomerPortal.Web.Models.LoyaltyModel

<div>@Request.QueryString["loyaltyNumber"]</div>
<h2 class="welcomeHeader">
    Hi @Model.CustomerName! You're on your way to a free coffee!
</h2>
<h5 class="welcomeHeader" class="mb-md-3">
    Just @Model.PointsToGo more points until your next!
    @if (Model.FreeCoffees > 0)
    {
        <text>(you already have @Model.FreeCoffees)</text>
    }
</h5>

<div class="container">
    <div class="progress">
        @*<div class="progress-bar" style="width:@Model.PercentageAchieved%"></div>*@
        <progress max="100" value="@Model.PercentageAchieved" class="w-100"></progress>
    </div>
</div>
<div class="row mt-md-5">
    <h3>Your favorite drink:</h3>
</div>
<div class="row">
    <h6>@Html.Raw(Model.FavoriteDrink)</h6>
</div>
<div class="row">
    @Html.ActionLink("Edit", "EditFavorite", new { loyaltyNumber = @Model.LoyaltyNumber }, new { @class = "btn btn-primary" })
</div>
